* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap__body {
  background-color: #e8e8e8;
}

.page__header {
  margin: 0 0 40px;
  padding: 40px 0 30px;
  text-align: center;
  border-bottom: 1px solid rgb(110, 110, 110);
}

.page__header h2 {
  text-transform: uppercase;
  font-weight: normal;
  color: #222;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 30px;
}

.wrap__img {
  position: relative;
}

.wrap__img::after {
  transform: scale(1);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15);
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
  transition: opacity 1s, transform 0.7s ease-in;
}

.wrap__img img {
  width: 100%;
  height: 100%;
  transition: opacity 1s, transform 0.7s ease-in;
}

.wrap__img:hover img {
  transform: scale(1.1);
  box-shadow: 1px 3px 8px 4px rgb(195, 195, 195);
}

.wrap__img:hover::after {
  transform: scale(1.1);
  opacity: 0;
  transition: opacity 1s, transform 0.7s ease-in;
}
