/* *****************************
*
*   
*
******************************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap__body {
  background-color: #e8e8e8;
}

/* page header section */
.page__header {
  margin: 0 0 40px;
  padding: 40px 0 30px;
  text-align: center;
  border-bottom: 1px solid rgb(110, 110, 110);
}

.page__header h2 {
  text-transform: uppercase;
  font-weight: normal;
  color: #222;
}

/* gallery tab section */
.tab__btn {
  width: 40%;
  margin: 0 auto 30px;
  padding: 30px 0;
}

.tab__btn ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tab__btn ul li a {
  font-size: 18px;
  color: #ff6600;
  text-transform: uppercase;
}

.active__tab,
.tab__btn ul li a:hover {
  border-bottom: 1px solid #ff6600;
  transition: 500ms ease-in-out;
}

/* gallery section */
.tab__gallery {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.wrap__img {
  position: relative;
}

.wrap__img::after {
  transform: scale(1);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15);
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
  transition: opacity 1s, transform 0.7s ease-in;
}

.wrap__img img {
  width: 100%;
  height: 200px;
  transition: opacity 1s, transform 0.7s ease-in;
}

.wrap__img:hover img {
  transform: scale(1.1);
  box-shadow: 1px 3px 8px 4px rgb(195, 195, 195);
}

.wrap__img:hover::after {
  transform: scale(1.1);
  opacity: 0;
  transition: opacity 1s, transform 0.7s ease-in;
}
